// SECTION result :: START

-
	var resultData = [{
			color: 'success',
			width: '75%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 40',
			num: '0978'},{
			color: 'success',
			width: '75%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 40',
			num: '0978'},{
			color: 'success',
			width: '75%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 40',
			num: '0978'},{
			color: 'success',
			width: '50%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 38',
			num: '0425'},{
			color: 'success',
			width: '50%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 38',
			num: '0425'},{
			color: 'success',
			width: '50%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 38',
			num: '0425'},{
			color: 'warning',
			width: '25%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 38',
			num: '0122'},{
			color: 'warning',
			width: '25%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 38',
			num: '0122'},{
			color: 'warning',
			width: '25%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 38',
			num: '0122'},{
			color: 'error',
			width: '25%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 38',
			num: '079'},{
			color: 'error',
			width: '25%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 38',
			num: '079'},{
			color: 'error',
			width: '25%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 38',
			num: '079'},{
			color: 'success',
			width: '75%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 40',
			num: '0978'},{
			color: 'success',
			width: '75%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 40',
			num: '0978'},{
			color: 'success',
			width: '75%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 40',
			num: '0978'},{
			color: 'success',
			width: '50%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 38',
			num: '0425'},{
			color: 'success',
			width: '50%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 38',
			num: '0425'},{
			color: 'success',
			width: '50%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 38',
			num: '0425'},{
			color: 'warning',
			width: '25%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 38',
			num: '0122'},{
			color: 'warning',
			width: '25%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 38',
			num: '0122'},{
			color: 'warning',
			width: '25%',
			badge: 'ID JHS21SKLX',
			title: 'M16 x 38',
			num: '0122'}
	];

section#result.result
	.result__wrapper
		.result__wrapper-header
			div
			div
				ul.graph__tabs
					li.graph__tabs-item
						a.graph__tabs-btn(href="#" class="" title="")
					li.graph__tabs-item
						a.graph__tabs-btn.is-active(href="#" class="" title="")
					li.graph__tabs-item
						a.graph__tabs-btn(href="#" class="" title="")
			div
				a.result__logo(href="#" class="" title="")
					img(src="/img/logo-ccm.svg" alt="" title="")

		.result__wrapper-body

			.result__box-wrapper
				each val, idx in resultData
					div
						.result__box(class!= 'result__box--' + resultData[idx].color)
							p.result__box-badge
								i
								span!= resultData[idx].badge
							p.result__box-title!= resultData[idx].title

							.result__box-progress
								div
									.result__box-slider
										.result__box-slider--top(style="width:" + resultData[idx].width + ";")
										a(href="#" class="" title="" style="left:" + resultData[idx].width + ";")
											i.icon-font.icon-resize-width
										.result__box-slider--bottom
											each val, idx in [1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5]
												span
								div
									span!= resultData[idx].num
									sub!= "u"

		.result__wrapper-footer
			div
				.graph__btn-wrapper
					a.graph__btn.is-active(href="#" class="" title="")
						span!= ""
						p!= "DAY"
					a.graph__btn(href="#" class="" title="")
						span!= ""
						p!= "WEEK"
					a.graph__btn(href="#" class="" title="")
						span!= ""
						p!= "MONTH"
					a.graph__btn(href="#" class="" title="")
						span!= ""
						p!= "QUARTERLY"
					a.graph__btn(href="#" class="" title="")
						span!= ""
						p!= "ANNUALLY"

			div
				a.graph__info-logo(href="#" class="" title="")
					img(src="/img/logo-text.svg" alt="" title="")


// SECTION result :: END
